<!DOCTYPE html>
<html>
	<body>
		{{template "ui/header"}}

		<div id="page">
			{{template "ui/menu" .}}
			{{template "ui/nodes/nodetoolbox"}}
			<!----  CONTENT GOES HERE  -->

		{{range $index, $element := .PageData}}
            {{if eq (mod $index 3) 0}}
                <div class="row" style='width:80%; margin:auto;'>
            {{end}}
            		<a href="/nodes">
                    <div class="col-md-3 portfolio-item" style='background-image:url("images/ui/node.png"); background-size:100% 100%; width:20vw; height:20vw; text-align:center; margin: 1vw;'>
                        <br><h4>{{.Hostname}}</h4>

                        <br><br> {{.DIPAddr}}:{{.DPort}}

                        <br><br><p style="color:
                        {{if .IsHealthy}}
                        	green;">Healthy</p>
                        {{else}}
                        	red;">Down</p>
                        {{end}} 
                    </div></a>

            {{if eq (mod $index 3) 2}}
                </div>
            {{end}}


        {{end}}


			<!--    CONTENT ENDS HERE  -->

		{{template "ui/footer"}}
		</div>
	</body>
</html>