<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>kDaemon</title>

	<!--pageMeta-->

	<!-- Loading Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">

	<!-- Loading Elements Styles -->
	<link href="/css/style.css" rel="stylesheet">

	<!-- Loading Magnific-Popup Styles -->
	<link href="/css/magnific-popup.css" rel="stylesheet">

	<!-- Loading Font Styles -->
	<link href="/css/iconfont-style.css" rel="stylesheet">


	<!-- Favicons -->
	<link rel="icon" href="images/favicons/favicon.png">
	<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">


	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
	<script src="scripts/html5shiv.js"></script>
	<script src="scripts/respond.min.js"></script>
	<![endif]-->

	<!--headerIncludes-->

	<style type="text/css"></style>
</head>