<!DOCTYPE html>
<html>
	<body>
		{{template "ui/header"}}

		<div id="page">
			{{template "ui/menu"}}

			<!----  CONTENT GOES HERE  -->

			Landing page.


			<!--    CONTENT ENDS HERE  -->

		{{template "ui/footer"}}
		</div>
	</body>
</html>