<!DOCTYPE html>
<html>
	<body>
		{{template "ui/header"}}

		<div id="page">
			{{template "ui/menu"}}

			<!----  CONTENT GOES HERE  -->

			You must log in before using this feature.

			<a href="/">PUT LOGIN LINK HERE</a>


			<!--    CONTENT ENDS HERE  -->

		{{template "ui/footer"}}
		</div>
	</body>
</html>