<nav class="navbar bg-color2 dark-bg" id="navbar">
    <div class="container-fluid">
        <ul class="nav">
                <li> <a class="navbar-brand smooth" href="/applications"><!--<img src="/images/logo.png" height="25" alt="Your logo">--> Add Application </a> </li>
        </ul>
        

        <button class="round-toggle navbar-toggle menu-collapse-btn collapsed" data-toggle="collapse"
                data-target=".navMenuCollapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span
                class="icon-bar"></span></button>
        <div class="collapse navbar-collapse navMenuCollapse">
        </div>
    </div>
</nav>